@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica/Helvetica-Bold.eot');
    src: url('../fonts/helvetica/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica/Helvetica-Bold.woff2') format('woff2'),
        url('../fonts/helvetica/Helvetica-Bold.woff') format('woff'),
        url('../fonts/helvetica/Helvetica-Bold.ttf') format('truetype'),
        url('../fonts/helvetica/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica-light/Helvetica-Light.eot');
    src: url('../fonts/helvetica-light/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica-light/Helvetica-Light.woff2') format('woff2'),
        url('../fonts/helvetica-light/Helvetica-Light.woff') format('woff'),
        url('../fonts/helvetica-light/Helvetica-Light.ttf') format('truetype'),
        url('../fonts/helvetica-light/Helvetica-Light.svg#Helvetica-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


