/*header styles*/
.body {
	padding-top: 75px;
	background-color: #F6F8F9;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 99;
	background-color: #C4D5DE;
}
.logo {
	display: inline-block;
	color: #FA6980;
	font-size: 13px;
	font-family: 'Helvetica';
	margin: 18px 92px 17px 20px;
}
.nav-li {
	display: inline-block;
}
.home {
	color: #343638;
	font-size: 11px;
	font-family: 'Helvetica';
	margin: 20px 27px 18px;
}
.discovery {
	color: #343638;
	font-size: 11px;
	font-family: 'Helvetica';
}
.photos {
    color: #343638;
	font-size: 11px;
	font-family: 'Helvetica';
	margin: 0 22px;
}
.contact {
	color: #343638;
	font-size: 11px;
	font-family: 'Helvetica';
	margin-right: 40px;
}
.image {
	vertical-align: middle;
	display: inline-block;
}
/*section 1*/
.divider {
	width: 1160px;
	height: 410px;
	margin: 25px 140px 0 140px;
}
.title {
	font-family: 'Helvetica';
	font-size: 24px;
	color: #202124; 
}
/*left-block*/
.left-block {
	width: 360px;
	height: 350px;
	background-color: #FFFFFF;
	margin-top: 40px;
	display: inline-block;
}
.absolute {
	position: absolute;
	width: 360px;
}
.relative {
	position: relative;
	width: 280px;
    padding: 28px 40px 136px 40px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Helvetica';
    /*display: inline-block;*/
}
.divider-text {
	margin: 60px 40px 40px 40px;
}
.time {
	display: inline-block;
	color: #A6ADB4;
	font-size: 13px;
	margin-left: 10px;
	vertical-align: middle;
}
.text {
    margin-bottom: 10px;
    color: #A6ADB4;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
.time-image {
	vertical-align: middle;
}
/*middle block*/
.middle-block {
	width: 360px;
	height: 350px;
	background-color: #FFFFFF;
	display: inline-block;
	margin-left: 40px;
}
/*right block*/
.right-block {
	width: 360px;
	height: 350px;
	background-color: #FFFFFF;
	display: inline-block;
	margin-left: 40px;
}
/*section 2*/
.left-block-divider {
	width: 760px;
	height: 956px;
	margin: 58px 40px 0 140px;
	display: inline-block;
}
.absolute-block {
	position: absolute;
	width: 760px;
}
.relative-block {
	position: relative;
	padding: 194px 172px 220px 308px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: 'Helvetica';
}
.div {
	margin-top: 40px;
}
.picture {
	margin-top: 40px;
}
/*section 2-right block*/
.right-block-divider {
	width: 360px;
	height: 896px;
	display: inline-block;
	margin-left: 40px;
}
.first-pic {
	margin-bottom: 102px;
}
.second-pic {
	margin-bottom: 102px;
}
.third-pic {
	margin-bottom: 60px;
}
/*footer styles*/
.footer-block {
	width: 100%;
	height: 200px;
	background-color: #A6ADB4;
	margin-top: 41px;
}
.footer-container {
    width: 486px;
    display: inline-block;
    margin-left: 142px;
    margin-top: 50px;
}
.footer-logo {
	display: inline-block;
	vertical-align: top;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}
.footer-ul {
	display: inline-block;
	padding-left: 90px;
}
.footer-text {
	color: #CBD0D3;
	font-size: 13px;
	font-family: 'Helvetica';
}
.footer-ul1 {
	margin-left: 60px;
	display: inline-block;
}
.footer-ul2 {
	display: inline-block;
	margin-left: 60px;
}
.paragraph {
	display: inline-block;
	font-size: 11px;
	color: #CBD0D3;
	font-family: 'Helvetica';
	vertical-align: top;
	width: 243px;
	height: 84px;
	margin-top: 62px;
	margin-left: 104px;
}
.footer-icons {
	display: inline-block;
	width: 160px;
	vertical-align: top;
	margin-top: 56px;
	margin-left: 165px;
}
.icons {
	margin-left: 15px;
}